<p id="notice"><%= notice %></p>

<h1>Courses</h1>

    <% @courses.each do |course| %>
      <div class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <%= course.course_number %>
        <%= course.course_name %>
        <div class="list_description">
          <dl>
            <%= truncate(strip_tags(course.course_description), length:80) %>
          </dl>
        </div>
        <%= course.course_week_date %>
        <%= course.course_time %>
        <%= course.course_room_number %>
        <%= course.professor %>
        <div class="list_actions">
          <%= link_to 'Show', course %>
          <%= link_to 'Edit', edit_course_path(course) %>
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
</div>
<br />

<%= link_to 'New Course', new_course_path %>
